body
  {  padding: 10px;
     margin: 1%; 
  }

header
  {  background-color: #B6DCD2;
     background-image: url("flywheel.jpg");
     background-size: 100%;
     padding:20px;
  }

h1
  {  text-align: center;
     color: #AE5410;
     font-size:x-large;
     text-transform: uppercase;
  }

nav a
  {   display: inline-block;
      margin: 2%;

      -webkit-border-radius: 3;
      -moz-border-radius: 3;
      -o-border-radius: 3;
      border-radius: 5px; 

      text-decoration: none;
      padding: 2%;

      color: #000000;
      text-align: center;
      vertical-align: middle;
      background-color: rgba(99,94,12,0.60);  
      width: 150px;
      height: 20px; 
  }

.active
  {   background-color: rgb(224,239,238);
      color: #000099;
  }

.left
  {   background-color: #B6DCD2;
      width: 24%;
      float: left;
      padding: 5% 0;
  }

.right
  {   width: 74%;
      display: inline-block;
      padding-left: 2%;
  }

.left img
  {   border: solid 1px #000000;
      width: 80%;
      margin: 10%;
  }

main{
    display: flex;
}

@media screen and (min-width: 320px) and (max-width: 500px)
{
  main{
    display: table;
  }
  nav a{
     display: list-item;
  }
}
